<main class="container">
  <aside class="menu">
    <img src="images/logo_i_notes.svg" alt="logo">
    <hr>
    Tags
    <ul class="tags-container">
      @for (item of [1, 2, 3, 4]; track item) {
        <li>🏷️ Option {{ item }}
        </li>
      } @empty {
        <li>There are no items.</li>
      }
    </ul>
  </aside>


  <aside class="dashboard-content">
    <section class="dashboard-content-header">
      <div class="title">All Note</div>
      <section class="header-options">
        <search-notes></search-notes>
        <button (click)="logout()">➡️</button>
      </section>
    </section>

    <section class="dashboard-content-body">
      <notes-list (showFormEvent)="showForm($event)"></notes-list>

      @if (showNoteData) {

        <note-form (hideForm)="hideNoteData()" [note]="selectedNote"></note-form>

      } @else {
        <no-select-note></no-select-note>
      }


    </section>
  </aside>
</main>
