<article class="note-form-container">
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">

    <section class="title-container">
      <input id="title" type="text" class="input-title" placeholder="Enter title..." formControlName="title">

      @if (noteForm.get('title')?.invalid && noteForm.get('title')?.touched) {
        @if (noteForm.get('title')?.errors?.['required']) {
          <div class="error-message">Title is necessary.</div>
        }
      }
    </section>

    <section class="data-container">

      <div class="data-tags">
        <label for="tags">🏷️ Tags:</label>
        <input id="tags" type="text" class="input-tags" formControlName="tags" placeholder="Add tags separated by commas (e.g. Work, Planning)">
      </div>

      <div class="data-updated">
        <div>🕛 Last edited:</div>
        <div class="label-updated-at">No yet saved</div>
      </div>

    </section>

    <hr class="form-divider">

    <section>
      <textarea id="content" formControlName="content" class="textarea-content" placeholder="Start typing your note here…"></textarea>

      @if (noteForm.get('content')?.invalid && noteForm.get('content')?.touched) {
        <div class="error-message">Content is necessary.</div>
      }

    </section>


    <section class="form-actions">
      <button type="submit" class="button-save" [disabled]="noteForm.invalid">Save Note</button>
      <button type="button" class="button-cancel" (click)="onCancel()">Cancel</button>

    </section>

  </form>
</article>

<section class="note-options-container">
  note options
</section>
