.tags-container {
  list-style-type: none;
  width: 100%;
  max-height: 30rem;
  overflow-y: auto;

  li {
    margin: 0.5rem 0;
    cursor: pointer;
    background-color: var(--neutral-0);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    font-size: large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li:hover {
    background-color: var(--neutral-200);
  }
}

.button-more-tags {
  background-color: var(--neutral-0);
  color: var(--neutral-700);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1rem;

}
